In [45]:
#데이터 가져오기
df = pd.read_csv("raw_data/df_grouped_rate.csv", encoding ='utf-8')
cgoongu = pd.read_csv("raw_data/cgoongoo1.csv", encoding ='utf-8')

In [46]:
df_merged = pd.merge(df, cgoongu, on=['district'])
df_merged.drop(['district'], axis=1, inplace =True)

In [47]:
df_merged.columns

Index(['year', 'code', 'sales_total', 's_store_no_of_store',
       's_store_no_of_opening', 's_store_no_of_closing', 's_work_female_40s',
       's_work_female_50s', 's_work_female_60s', 'b_facil_total',
       's_float_male', 's_float_female', 'b_apt_avg_price',
       'b_income_avg_monthly_inc', 's_work_female', 's_work_male',
       'sales_weekday', 'sales_female', 'sales_2030s', 'sales_06_11',
       'sales_11_14', 'sales_14_17', 'sales_17_21', 'sales_21_24', 'cgoongoo'],
      dtype='object')

In [48]:
df_cgoongu_gb=df_merged.groupby(['year','cgoongoo', 'code']).agg({
    "sales_total":"sum",
    "s_store_no_of_store":"sum", #이걸 mean으로 해야할지 고민이 필요
    "s_store_no_of_opening":"sum",
    "s_store_no_of_closing":"sum",
    "sales_weekday":"sum",
    "sales_female":"sum",
    "sales_2030s":"sum",
    "sales_06_11":"sum",
    "sales_11_14":"sum",
    "sales_14_17":"sum",
    "sales_17_21":"sum",
    "sales_21_24":"sum",
    "s_work_female_40s":"mean",
    "s_work_female_50s":"mean",
    "s_work_female_60s":"mean",
    "b_facil_total":"mean",
    "s_float_male":"mean",
    "s_float_female":"mean",
    'b_apt_avg_price':'mean',
    'b_income_avg_monthly_inc':'mean',
    's_work_female':'mean',
    's_work_male':'mean',
    'b_income_avg_monthly_inc':'mean'
    
})
df_cgoongu_gb.tail(3)

                         sales_total  s_store_no_of_store  \
year cgoongoo code
2019 11740    CS300015  5.912349e+09                   49
              CS300016  5.516874e+09                  496
              CS300017  2.322398e+09                   95

                        s_store_no_of_opening  s_store_no_of_closing  \
year cgoongoo code
2019 11740    CS300015                      1                      1
              CS300016                      8                      7
              CS300017                      0                      1

                        sales_weekday  sales_female  sales_2030s  sales_06_11  \
year cgoongoo code
2019 11740    CS300015       4.290286      3.237088     0.762611     0.080720
              CS300016      25.429959      9.793725     6.189211     7.338632
              CS300017       5.827562      4.553235     3.578226     0.315342

                        sales_11_14  sales_14_17  ...  s_work_female_40s  \
year cgoongoo code                                ...
2019 11740    CS300015     2.089863     2.577843  ...             64.250
              CS300016     7.644050    10.612261  ...             50.375
              CS300017     3.444519     3.303651  ...             51.000

                        s_work_female_50s  s_work_female_60s  b_facil_total  \
year cgoongoo code
2019 11740    CS300015          64.083333          34.333333     112.500000
              CS300016          51.750000          28.187500     108.156250
              CS300017          52.722222          33.666667     118.888889

                         s_float_male  s_float_female  b_apt_avg_price  \
year cgoongoo code
2019 11740    CS300015  194778.250000   189097.833333     2.004435e+08
              CS300016  158058.328125   154031.750000     1.826516e+08
              CS300017  167489.388889   165458.055556     1.682300e+08

                        b_income_avg_monthly_inc  s_work_female  s_work_male
year cgoongoo code
2019 11740    CS300015              3.384987e+06     253.500000   274.166667
              CS300016              3.370583e+06     205.921875   221.187500
              CS300017              3.212065e+06     216.277778   193.944444

[3 rows x 22 columns]

In [49]:
# # df 저장
# #index에 names=['year', 'cgoongoo', 'code']가 들어있다
# df_cgoongu_gb.to_csv('raw_data/df_cgoongu_gb.csv', index=True, encoding='utf-8')

In [50]:
df_cgoongu_gb.reset_index(inplace=True)

In [51]:
#로버스트 스케일링
from sklearn.preprocessing import RobustScaler
scale_columns = [i for i in df_cgoongu_gb.columns if i not in ['year', 'cgoongu', 'code',]]

rb = RobustScaler()
rb.fit(df_cgoongu_gb[scale_columns])
df_robust_scaled = rb.transform(df_cgoongu_gb[scale_columns])
df_robust_scaled = pd.DataFrame(df_robust_scaled, columns=scale_columns)
df_robust_scaled.columns
model= sm.OLS.from_formula("sales_total ~ C(cgoongoo) +"+" + ".join(scale_columns[2:]), data=df_robust_scaled)
result =  model.fit()
print(result.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:            sales_total   R-squared:                       0.709
Model:                            OLS   Adj. R-squared:                  0.706
Method:                 Least Squares   F-statistic:                     299.7
Date:                Tue, 24 Dec 2019   Prob (F-statistic):               0.00
Time:                        21:23:24   Log-Likelihood:                -7585.1
No. Observations:                5591   AIC:                         1.526e+04
Df Residuals:                    5545   BIC:                         1.557e+04
Df Model:                          45
Covariance Type:            nonrobust
============================================================================================
                               coef    std err          t      P>|t|      [0.025      0.975]
--------------------------------------------------------------------------------------------
Intercept                   -0.1330      0.081     -1.639      0.101      -0.292       0.026
C(cgoongoo)[T.-0.9]         -0.1651      0.107     -1.544      0.123      -0.375       0.045
C(cgoongoo)[T.-0.8]          0.0019      0.123      0.016      0.987      -0.239       0.243
C(cgoongoo)[T.-0.7]         -0.2097      0.115     -1.818      0.069      -0.436       0.016
C(cgoongoo)[T.-0.65]        -0.0157      0.103     -0.153      0.878      -0.217       0.186
C(cgoongoo)[T.-0.6]         -0.0757      0.106     -0.718      0.473      -0.283       0.131
C(cgoongoo)[T.-0.5]         -0.0775      0.114     -0.679      0.497      -0.301       0.146
C(cgoongoo)[T.-0.4]         -0.1583      0.104     -1.521      0.128      -0.362       0.046
C(cgoongoo)[T.-0.35]        -0.0726      0.118     -0.617      0.537      -0.303       0.158
C(cgoongoo)[T.-0.3]          0.0451      0.119      0.378      0.705      -0.189       0.279
C(cgoongoo)[T.-0.2]          0.0606      0.114      0.533      0.594      -0.162       0.284
C(cgoongoo)[T.-0.1]         -0.0311      0.116     -0.268      0.789      -0.259       0.196
C(cgoongoo)[T.0.0]           0.0350      0.105      0.333      0.739      -0.171       0.241
C(cgoongoo)[T.0.1]           0.0922      0.106      0.867      0.386      -0.116       0.301
C(cgoongoo)[T.0.2]          -0.1378      0.104     -1.322      0.186      -0.342       0.067
C(cgoongoo)[T.0.3]          -0.0582      0.107     -0.541      0.588      -0.269       0.153
C(cgoongoo)[T.0.4]          -0.0195      0.108     -0.181      0.856      -0.230       0.191
C(cgoongoo)[T.0.45]         -0.0850      0.116     -0.735      0.462      -0.311       0.142
C(cgoongoo)[T.0.5]          -0.2439      0.106     -2.310      0.021      -0.451      -0.037
C(cgoongoo)[T.0.6]          -0.0783      0.108     -0.724      0.469      -0.290       0.134
C(cgoongoo)[T.0.7]          -0.0778      0.110     -0.704      0.481      -0.294       0.139
C(cgoongoo)[T.0.8]          -0.0404      0.164     -0.246      0.805      -0.362       0.281
C(cgoongoo)[T.0.9]           0.2640      0.167      1.583      0.113      -0.063       0.591
C(cgoongoo)[T.1.0]           0.0914      0.120      0.761      0.447      -0.144       0.327
C(cgoongoo)[T.1.1]          -0.1753      0.106     -1.654      0.098      -0.383       0.033
s_store_no_of_store          0.4912      0.027     18.213      0.000       0.438       0.544
s_store_no_of_opening       -0.0466      0.026     -1.799      0.072      -0.097       0.004
s_store_no_of_closing        0.3031      0.027     11.314      0.000       0.251       0.356
sales_weekday               -0.2831      0.101     -2.813      0.005      -0.480      -0.086
sales_female                -0.2836      0.048     -5.947      0.000      -0.377      -0.190
sales_2030s                  0.0839      0.034      2.435      0.015       0.016       0.151
sales_06_11                  0.9056      0.024     37.426      0.000       0.858       0.953
sales_11_14                 -0.0609      0.039     -1.568      0.117      -0.137       0.015
sales_14_17                 -0.7154      0.068    -10.578      0.000      -0.848      -0.583
sales_17_21                  0.7264      0.049     14.923      0.000       0.631       0.822
sales_21_24                 -0.0106      0.034     -0.313      0.754      -0.077       0.056
s_work_female_40s            0.0694      0.056      1.249      0.212      -0.040       0.178
s_work_female_50s            0.0017      0.037      0.045      0.964      -0.072       0.075
s_work_female_60s            0.0039      0.026      0.151      0.880      -0.047       0.055
b_facil_total                0.0215      0.023      0.915      0.360      -0.025       0.067
s_float_male                 0.0712      0.064      1.121      0.262      -0.053       0.196
s_float_female              -0.0702      0.065     -1.075      0.282      -0.198       0.058
b_apt_avg_price              0.0738      0.037      1.989      0.047       0.001       0.147
b_income_avg_monthly_inc     0.1191      0.050      2.402      0.016       0.022       0.216
s_work_female               -0.0695      0.096     -0.724      0.469      -0.258       0.119
s_work_male                 -0.0294      0.066     -0.448      0.654      -0.158       0.099
==============================================================================
Omnibus:                     2058.615   Durbin-Watson:                   1.779
Prob(Omnibus):                  0.000   Jarque-Bera (JB):            20676.646
Skew:                           1.470   Prob(JB):                         0.00
Kurtosis:                      11.951   Cond. No.                         106.
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.