In [1]:
#데이터 로드
b_df = pd.read_csv("baehu_result.csv", encoding='euc-kr' )
b_apt = pd.read_csv("b_apt.csv", encoding='utf-8' )
sales = pd.read_csv("sales_rate.csv", encoding='euc-kr' )

#### 1. 매출 데이터 rate변수들 생성

In [2]:
sales.tail(1)

,기준_년_코드,기준_분기_코드,상권_코드,서비스_업종_코드,당월_매출_금액,day_sales,weekend_sale,남성_매출_금액,여성_매출_금액,Age_2040,Age_total
140649,2018,4,1001496,CS300017,188774483.0,136759824,52014659,130241991,58532492,102869145,188774483

In [3]:
sales.columns

Index(['기준_년_코드', '기준_분기_코드', '상권_코드', '서비스_업종_코드', '당월_매출_금액', 'day_sales',
       'weekend_sale', '남성_매출_금액', '여성_매출_금액', 'Age_2040', 'Age_total'],
      dtype='object')

In [4]:
sales['day/weekend'] = sales['day_sales']/sales["weekend_sale"]
sales['female/male'] = sales['여성_매출_금액']/ sales['남성_매출_금액']
sales['2030_rate'] = sales['Age_2040']/sales['Age_total']
sales[['기준_년_코드', '상권_코드', '서비스_업종_코드', '당월_매출_금액','day/weekend','female/male','2030_rate']].tail(2)
# sales[sales.duplicated(['기준_년_코드', '기준_분기_코드','상권_코드','서비스_업종_코드'])]   #중복 있는지 확인

,기준_년_코드,상권_코드,서비스_업종_코드,당월_매출_금액,day/weekend,female/male,2030_rate
140648,2018,1001496,CS300016,2.291867e+09,1.644081,2.244353,0.473024
140649,2018,1001496,CS300017,1.887745e+08,2.629255,0.449413,0.544931

#### 2. 아파트 데이터 가져오기

In [6]:
b_apt.columns

Index(['기준_년_코드', '기준_분기_코드', '상권_코드', '아파트_단지_수', '아파트_평균_면적', '아파트_평균_시가'], dtype='object')

In [8]:
b_apt['APT평균시가/단지수'] = b_apt['아파트_평균_시가']/ b_apt['아파트_단지_수']
b_apt['APT평균시가/평균평수'] = b_apt['아파트_평균_시가']/ (b_apt['아파트_평균_면적']/3.3)
b_apt.tail(3)

,기준_년_코드,기준_분기_코드,상권_코드,아파트_단지_수,아파트_평균_면적,아파트_평균_시가,APT평균시가/단지수,APT평균시가/평균평수
4033,2018,1,1000239,133,57,120515441,9.061311e+05,6.977210e+06
4034,2018,1,1000240,59,65,169612642,2.874791e+06,8.611103e+06
4035,2018,1,1000241,140,58,152445482,1.088896e+06,8.673622e+06

In [ ]:
#매출 데이터 또는 이미 merge된 데이터와 merge
df=pd.merge(df, store_merge.name, on=['기준_년_코드', '기준_분기_코드', '상권_코드','서비스_업종_코드'])

In [ ]:
df.tail()

In [ ]:
#저장
df.to_csv("sang_df.csv", sep=",", encoding = 'euc-kr', index=False)

#### merge 결과

In [ ]:
#read
b_df = pd.read_csv("baehu_df.csv", encoding='euc-kr' )
b_df.tail()