In [17]:
#데이터 로드
sales = pd.read_csv("sales_rate.csv", encoding='euc-kr' )
sales_ori = pd.read_csv("sales_2018.csv", encoding='euc-kr' )
df_merged = pd.read_csv("df_sejin.csv", encoding='euc-kr')

#### 주중매출액/ 총매출액 컬럼 만들기(dayrate)

In [2]:
sales.tail(1)

,기준_년_코드,기준_분기_코드,상권_코드,서비스_업종_코드,당월_매출_금액,day_sales,weekend_sale,female/male,Age_2040,Age_total,06~11rate,11~14rate,14~17rate,17~21rate,21~24rate
140649,2018,4,1001496,CS300017,188774483.0,136759824,52014659,0.449413369,102869145,188774483,0.289167,0.289616,0.266074,0.048821,0.03449

In [3]:
sales.columns

Index(['기준_년_코드', '기준_분기_코드', '상권_코드', '서비스_업종_코드', '당월_매출_금액', 'day_sales',
       'weekend_sale', 'female/male', 'Age_2040', 'Age_total', '06~11rate',
       '11~14rate', '14~17rate', '17~21rate', '21~24rate'],
      dtype='object')

In [4]:
sales['DW_total']= sales['day_sales']+sales['weekend_sale']

In [5]:
sales['day_rate']=sales['day_sales']/sales['DW_total']

In [6]:
# 주중 매출/ 총매출 컬럼있는 df 만들기
df_dayrate=sales[['기준_년_코드', '기준_분기_코드', '상권_코드', '서비스_업종_코드', '당월_매출_금액', 'day_rate']]
df_dayrate.columns=['year', 'quarter', 'district','code','sales','day_rate']

#### 여성매출/총매출 컬럼있는 df 만들기

In [7]:
sales_ori.columns

Index(['기준_년_코드', '기준_분기_코드', '상권_구분_코드', '상권_코드', '서비스_업종_코드', '당월_매출_금액',
       '주중_매출_금액', '주말_매출_금액', '월요일_매출_금액', '화요일_매출_금액', '수요일_매출_금액',
       '목요일_매출_금액', '금요일_매출_금액', '토요일_매출_금액', '일요일_매출_금액', '시간대_00~06_매출_금액',
       '시간대_06~11_매출_금액', '시간대_11~14_매출_금액', '시간대_14~17_매출_금액',
       '시간대_17~21_매출_금액', '시간대_21~24_매출_금액', '남성_매출_금액', '여성_매출_금액',
       '연령대_10_매출_금액', '연령대_20_매출_금액', '연령대_30_매출_금액', '연령대_40_매출_금액',
       '연령대_50_매출_금액', '연령대_60_이상_매출_금액', '점포수'],
      dtype='object')

 'prop_2030s',
       'prop_06_11', 'prop_11_14', 'prop_14_17', 'prop_17_21', 'prop_21_24',

In [8]:
sales_ori['time_total']= sales_ori['시간대_00~06_매출_금액']+sales_ori['시간대_06~11_매출_금액']+sales_ori['시간대_11~14_매출_금액']\
                    +sales_ori['시간대_14~17_매출_금액']+ sales_ori['시간대_17~21_매출_금액']+sales_ori['시간대_21~24_매출_금액']

In [9]:
sales_ori['prop_06_11']= sales_ori['시간대_00~06_매출_금액']/sales_ori['time_total']
sales_ori['prop_11_14']= sales_ori['시간대_11~14_매출_금액']/sales_ori['time_total']
sales_ori['prop_14_17']= sales_ori['시간대_14~17_매출_금액']/sales_ori['time_total']
sales_ori['prop_17_21']= sales_ori['시간대_17~21_매출_금액']/sales_ori['time_total']
sales_ori['prop_21_24']= sales_ori['시간대_21~24_매출_금액']/sales_ori['time_total']

In [10]:
sales_ori['gender_sale']= sales_ori['남성_매출_금액']+sales_ori['여성_매출_금액']

In [11]:
sales_ori['female_rate']= sales_ori['여성_매출_금액']/sales_ori['gender_sale']

In [13]:
sales_ori.columns

Index(['기준_년_코드', '기준_분기_코드', '상권_구분_코드', '상권_코드', '서비스_업종_코드', '당월_매출_금액',
       '주중_매출_금액', '주말_매출_금액', '월요일_매출_금액', '화요일_매출_금액', '수요일_매출_금액',
       '목요일_매출_금액', '금요일_매출_금액', '토요일_매출_금액', '일요일_매출_금액', '시간대_00~06_매출_금액',
       '시간대_06~11_매출_금액', '시간대_11~14_매출_금액', '시간대_14~17_매출_금액',
       '시간대_17~21_매출_금액', '시간대_21~24_매출_금액', '남성_매출_금액', '여성_매출_금액',
       '연령대_10_매출_금액', '연령대_20_매출_금액', '연령대_30_매출_금액', '연령대_40_매출_금액',
       '연령대_50_매출_금액', '연령대_60_이상_매출_금액', '점포수', 'time_total', 'prop_06_11',
       'prop_11_14', 'prop_14_17', 'prop_17_21', 'prop_21_24', 'gender_sale',
       'female_rate'],
      dtype='object')

In [14]:
df_female_rate=sales_ori[['기준_년_코드', '기준_분기_코드', '상권_코드','서비스_업종_코드','당월_매출_금액', 'female_rate' ,'prop_06_11',
       'prop_11_14', 'prop_14_17', 'prop_17_21', 'prop_21_24']]
df_female_rate.columns = ['year', 'quarter', 'district','code','sales', 'female_rate','prop_06_11',
       'prop_11_14', 'prop_14_17', 'prop_17_21', 'prop_21_24' ]

### 다른 변수들이 있는 df랑 merge 하기

In [18]:
df_merged.tail()

,year,quarter,district,code,workpop,floatpop,apt_no_of_cmplx,apt_avg_space,apt_avg_price,inc_monthly_avg,...,no_of_gov_office,no_of_bank,no_of_pharm,no_of_dept_store,no_of_theartre,no_of_accom,no_of_STA,no_of_BUS,sales_per_store.1,sales
89015,2018,4,1001010,CS300009,40,127636,313,51,154040746,3589923,...,1,0,3,0,0,0,0,0,5.010954e+08,1503286282
89016,2018,4,1001010,CS300011,40,127636,313,51,154040746,3589923,...,1,0,3,0,0,0,0,0,5.222272e+06,10444544
89017,2018,4,1001010,CS300014,40,127636,313,51,154040746,3589923,...,1,0,3,0,0,0,0,0,1.611965e+07,16119654
89018,2018,4,1001010,CS300016,40,127636,313,51,154040746,3589923,...,1,0,3,0,0,0,0,0,2.319462e+06,6958385
89019,2018,4,1001010,CS300017,40,127636,313,51,154040746,3589923,...,1,0,3,0,0,0,0,0,4.789273e+05,2873564

In [19]:
df_result=pd.merge(df_merged,df_dayrate, on=['year', 'quarter', 'district', 'code', 'sales'])
df_result[df_result['sales'].isnull()] # sales가 없는(잘못 merge된) 행이 있는지 확인

Empty DataFrame
Columns: [year, quarter, district, code, workpop, floatpop, apt_no_of_cmplx, apt_avg_space, apt_avg_price, inc_monthly_avg, expnd_total, sales_per_store, no_of_store, opening_rate, closing_rate, no_of_franch_store, no_of_gov_office, no_of_bank, no_of_pharm, no_of_dept_store, no_of_theartre, no_of_accom, no_of_STA, no_of_BUS, sales_per_store.1, sales, day_rate]
Index: []

[0 rows x 27 columns]

In [20]:
df_result=pd.merge(df_result,df_female_rate, on=['year', 'quarter', 'district', 'code', 'sales'])
df_result[df_result['sales'].isnull()] # sales가 없는(잘못 merge된) 행이 있는지 확인

Empty DataFrame
Columns: [year, quarter, district, code, workpop, floatpop, apt_no_of_cmplx, apt_avg_space, apt_avg_price, inc_monthly_avg, expnd_total, sales_per_store, no_of_store, opening_rate, closing_rate, no_of_franch_store, no_of_gov_office, no_of_bank, no_of_pharm, no_of_dept_store, no_of_theartre, no_of_accom, no_of_STA, no_of_BUS, sales_per_store.1, sales, day_rate, female_rate, prop_06_11, prop_11_14, prop_14_17, prop_17_21, prop_21_24]
Index: []

[0 rows x 33 columns]

In [28]:
df_result = df_result.drop(columns=['sales_per_store.1']) #중복된 칼럼 제거

In [29]:
df_result.columns

Index(['year', 'quarter', 'district', 'code', 'workpop', 'floatpop',
       'apt_no_of_cmplx', 'apt_avg_space', 'apt_avg_price', 'inc_monthly_avg',
       'expnd_total', 'sales_per_store', 'no_of_store', 'opening_rate',
       'closing_rate', 'no_of_franch_store', 'no_of_gov_office', 'no_of_bank',
       'no_of_pharm', 'no_of_dept_store', 'no_of_theartre', 'no_of_accom',
       'no_of_STA', 'no_of_BUS', 'sales', 'day_rate', 'female_rate',
       'prop_06_11', 'prop_11_14', 'prop_14_17', 'prop_17_21', 'prop_21_24'],
      dtype='object')

In [30]:
#저장
df_result.to_csv("df_result.csv", sep=",", encoding = 'euc-kr', index=False)