In [2]:
#데이터 로드
b_income = pd.read_csv("b_income.csv", encoding='euc-kr' )
b_apt = pd.read_csv("b_apt.csv", encoding='utf-8' )
sales = pd.read_csv("sales_rate.csv", encoding='euc-kr' )

#### 1. 매출 데이터 rate변수들 생성

In [3]:
sales.tail(1)

,기준_년_코드,기준_분기_코드,상권_코드,서비스_업종_코드,당월_매출_금액,day_sales,weekend_sale,female/male,Age_2040,Age_total,06~11rate,11~14rate,14~17rate,17~21rate,21~24rate
140649,2018,4,1001496,CS300017,188774483.0,136759824,52014659,0.449413369,102869145,188774483,0.289167,0.289616,0.266074,0.048821,0.03449

In [9]:
def make_nan(x):
    if x==0:
        return np.nan
    else :
        return x
    
for col in sales.columns :
    sales[col] = sales[col].apply(make_nan)
#nan값이 하나라도 있는 행은 없애기
import missingno as msno
sales=sales.dropna(axis=0)
# msno.bar(df)
# plt.show()
# 데이터가 80% 이상이 없는 열을 삭제
sales = sales.dropna(thresh=int(len(sales) * 0.8), axis=1)
# msno.matrix(df)
# plt.show()# 데이터가 80% 이상 있는열만 남김
sales = sales.dropna(thresh=int(len(sales) * 0.8), axis=1)
# msno.matrix(df)
# plt.show()

In [10]:
sales.tail(1)

,기준_년_코드,기준_분기_코드,상권_코드,서비스_업종_코드,당월_매출_금액,day_sales,weekend_sale,female/male,Age_2040,Age_total,06~11rate,11~14rate,14~17rate,17~21rate,21~24rate,day/weekend
140649,2018,4,1001496,CS300017,188774483.0,136759824.0,52014659.0,0.449413369,102869145.0,188774483,0.289167,0.289616,0.266074,0.048821,0.03449,2.629255

In [4]:
sales['day/weekend'] = sales['day_sales']/sales["weekend_sale"]
sales['female/male'] = sales['여성_매출_금액']/ sales['남성_매출_금액']
sales['2030_rate'] = sales['Age_2040']/sales['Age_total']
sales[['기준_년_코드', '상권_코드', '서비스_업종_코드', '당월_매출_금액','day/weekend','female/male','2030_rate']].tail(2)
# sales[sales.duplicated(['기준_년_코드', '기준_분기_코드','상권_코드','서비스_업종_코드'])]   #중복 있는지 확인

,기준_년_코드,상권_코드,서비스_업종_코드,당월_매출_금액,day/weekend,female/male,2030_rate
140648,2018,1001496,CS300016,2.291867e+09,1.644081,2.244353,0.473024
140649,2018,1001496,CS300017,1.887745e+08,2.629255,0.449413,0.544931

In [9]:
#세일데이터 추가결과(엑셀)
sales.tail(1)
sales.columns

Index(['기준_년_코드', '기준_분기_코드', '상권_코드', '서비스_업종_코드', '당월_매출_금액', 'day_sales',
       'weekend_sale', 'female/male', 'Age_2040', 'Age_total', '06~11rate',
       '11~14rate', '14~17rate', '17~21rate', '21~24rate'],
      dtype='object')

In [16]:
sales['day/weekend'] = sales['day_sales']/sales["weekend_sale"]
sales['2030_rate'] = sales['Age_2040']/sales['Age_total']
sales_final= sales[['기준_년_코드', '기준_분기_코드', '상권_코드', '서비스_업종_코드', '당월_매출_금액', 'day/weekend', 'female/male', \
       '2030_rate', '06~11rate','11~14rate', '14~17rate', '17~21rate', '21~24rate', '2030_rate']]

In [17]:
#저장
sales_final.to_csv("sales_final.csv", sep=",", encoding = 'euc-kr', index=False)

#### 2. 아파트 데이터 가져오기

In [2]:
b_apt.columns

Index(['기준_년_코드', '기준_분기_코드', '상권_코드', '아파트_단지_수', '아파트_평균_면적', '아파트_평균_시가'], dtype='object')

In [4]:
b_apt['APT평균시가/단지수'] = b_apt['아파트_평균_시가']/ b_apt['아파트_단지_수']
b_apt['APT평균시가/평균평수'] = b_apt['아파트_평균_시가']/ (b_apt['아파트_평균_면적']/3.3)
b_apt.tail(3)

,기준_년_코드,기준_분기_코드,상권_코드,아파트_단지_수,아파트_평균_면적,아파트_평균_시가,APT평균시가/단지수,APT평균시가/평균평수
4033,2018,1,1000239,133,57,120515441,9.061311e+05,6.977210e+06
4034,2018,1,1000240,59,65,169612642,2.874791e+06,8.611103e+06
4035,2018,1,1000241,140,58,152445482,1.088896e+06,8.673622e+06

In [5]:
#저장
b_apt.to_csv("apt_rate.csv", sep=",", encoding = 'euc-kr', index=False)

#### 3. 배후지의 소득소비 데이터 가공하기

In [106]:
b_income = b_income[['기준 년 코드', '기준_분기_코드', '상권_코드', 
       '월_평균_소득_금액', '지출_총금액']]
b_income.columns

Index(['기준 년 코드', '기준_분기_코드', '상권_코드', '월_평균_소득_금액', '지출_총금액'], dtype='object')

In [107]:
#저장
b_income.to_csv("b_income.csv", sep=",", encoding = 'euc-kr', index=False)

#### 4. merge

In [108]:
sales_final = pd.read_csv("sales_final.csv", encoding='euc-kr' )

In [99]:
## 중복데이터 있는지 확인하기
# sales_final[sales_final.duplicated(['기준_년_코드','기준_분기_코드','상권_코드',"서비스_업종_코드"])]
# b_apt[b_apt.duplicated(['기준_년_코드','기준_분기_코드','상권_코드'])]
# b_income[b_income.duplicated(['기준_년_코드','기준_분기_코드','상권_코드'])]

In [111]:
# 매출데이터, 아파트, 소득소비 merge
df=pd.merge(sales_final,b_apt, on=['기준_년_코드', '기준_분기_코드', '상권_코드'])
df.tail()

,기준_년_코드,기준_분기_코드,상권_코드,서비스_업종_코드,당월_매출_금액,day/weekend,female/male,2030_rate,06~11rate,11~14rate,14~17rate,17~21rate,21~24rate,2030_rate.1,아파트_단지_수,아파트_평균_면적,아파트_평균_시가
92804,2018,4,1001010,CS300009,1.503286e+09,12.267540,0.897249267,0.178033,0.250454,0.318591,0.293769,0.137186,0.000000,0.178033,313,51,154040746
92805,2018,4,1001010,CS300011,1.044454e+07,3.219634,0.745104972,0.161850,0.037113,0.471734,0.288530,0.202623,0.000000,0.161850,313,51,154040746
92806,2018,4,1001010,CS300014,1.611965e+07,4.065346,1.84137941,0.547735,0.000000,0.284597,0.317045,0.349883,0.048475,0.547735,313,51,154040746
92807,2018,4,1001010,CS300016,6.958385e+06,1.852921,0.657664171,0.283103,0.150346,0.406846,0.191064,0.247071,0.004671,0.283103,313,51,154040746
92808,2018,4,1001010,CS300017,2.873564e+06,1.142856,#DIV/0!,0.568334,0.000000,0.123334,0.420000,0.456666,0.000000,0.568334,313,51,154040746

In [113]:
b_income.columns= ['기준_년_코드', '기준_분기_코드', '상권_코드', '월_평균_소득_금액', '지출_총금액']

In [114]:

df=pd.merge(df,b_income, on=['기준_년_코드', '기준_분기_코드', '상권_코드'])
df.tail()

,기준_년_코드,기준_분기_코드,상권_코드,서비스_업종_코드,당월_매출_금액,day/weekend,female/male,2030_rate,06~11rate,11~14rate,14~17rate,17~21rate,21~24rate,2030_rate.1,아파트_단지_수,아파트_평균_면적,아파트_평균_시가,월_평균_소득_금액,지출_총금액
92804,2018,4,1001010,CS300009,1.503286e+09,12.267540,0.897249267,0.178033,0.250454,0.318591,0.293769,0.137186,0.000000,0.178033,313,51,154040746,3589923,12120296344
92805,2018,4,1001010,CS300011,1.044454e+07,3.219634,0.745104972,0.161850,0.037113,0.471734,0.288530,0.202623,0.000000,0.161850,313,51,154040746,3589923,12120296344
92806,2018,4,1001010,CS300014,1.611965e+07,4.065346,1.84137941,0.547735,0.000000,0.284597,0.317045,0.349883,0.048475,0.547735,313,51,154040746,3589923,12120296344
92807,2018,4,1001010,CS300016,6.958385e+06,1.852921,0.657664171,0.283103,0.150346,0.406846,0.191064,0.247071,0.004671,0.283103,313,51,154040746,3589923,12120296344
92808,2018,4,1001010,CS300017,2.873564e+06,1.142856,#DIV/0!,0.568334,0.000000,0.123334,0.420000,0.456666,0.000000,0.568334,313,51,154040746,3589923,12120296344

#### merge 결과 저장

In [115]:
#저장
df.to_csv("add_variable.csv", sep=",", encoding = 'euc-kr', index=False)

In [130]:
df = pd.read_csv("add_variable.csv", encoding='euc-kr' )

#### 매출데이터 변수 추가하기
- 동일한 상권 코드에서 해당 서비스업종코드의 매출이 차지하는 비율
    - 상권코드별 groupby (당월매출금액은 sum)
    - 상권코드별 총 매출액 따로 DataFrame 저장
    - 원본 매출데이터에 상권코드를 바탕으로 merge
    - 당월매출금액/ 상권코드별 총매출액 구하기

In [131]:
df = df.copy()
sales2=df[['기준_분기_코드', '상권_코드','당월_매출_금액']]

In [132]:
#기준분기코드와 상권코드별로 당월 매출금액 합하기
sales2= sales2.groupby(['기준_분기_코드', '상권_코드']).agg('sum')
sales3 =pd.DataFrame(sales2)
sales3.columns=['sales_total']
sales3.tail()

                   sales_total
기준_분기_코드 상권_코드
4        1001006  3.806156e+09
         1001007  4.894448e+09
         1001008  7.928620e+09
         1001009  3.475884e+09
         1001010  2.949886e+09

In [133]:
result = pd.merge(df,sales3, on=['기준_분기_코드', '상권_코드'])
result.columns

Index(['기준_년_코드', '기준_분기_코드', '상권_코드', '서비스_업종_코드', '당월_매출_금액', 'day/weekend',
       'female/male', '2030_rate', '06~11rate', '11~14rate', '14~17rate',
       '17~21rate', '21~24rate', '2030_rate.1', '아파트_단지_수', '아파트_평균_면적',
       '아파트_평균_시가', '월_평균_소득_금액', '지출_총금액', 'sales_total'],
      dtype='object')

In [134]:
result.to_csv("sales2.csv", sep=",", encoding = 'euc-kr', index=False)